.menu-item:nth-child(1)::after{
	position: absolute;
	bottom: -2px;
	left: 0;
	content: '';
	width: 100%;
	height: 2.5px;
	background-color: #a9d159;
	transition: .4s;
}
.explain{
	margin-left:4.5%;
}
.explain h1{	
	text-align: center;
}
.explain h2{
	display: inline;
}
.explain h4{
	margin-bottom: 40px;
}
.explain-title{
	list-style-position: inside;
	list-style-type: none;
	list-style-image: url(../pic/cloud.svg);
}
.explain-title li{
	padding:18px;
}